---

---

<nav
  class="w-full border-b border-gray-200 px-6 sm:px-12 py-4 flex items-center justify-center"
>
  <div class="flex items-center relative">
    <!-- <div class="w-6 h-6 bg-gray-400 rotate-45 absolute right-98"></div> -->
    <!-- <div class="left-10 margin md:w-82 h-[2px] bg-red-400"></div> -->
  </div>
  <ul class="flex gap-5 text-sm text-gray-800 font-medium">
    <li>
      <a href="#services" class="hover:text-red-400 transition">Services</a>
    </li>
    <li><a href="#story" class="hover:text-red-400 transition">Story</a></li>
    <li>
      <a href="#portfolio" class="hover:text-red-400 transition">Portfolio</a>
    </li>
    <li><a href="#blog" class="hover:text-red-400 transition">Blog</a></li>
    <li>
      <a href="#contact" class="hover:text-red-400 transition">Contact</a>
    </li>
  </ul>
</nav>
