---

---

<section class="py-12 px-6 sm:px-12">
  <div
    class="max-w-4xl mx-auto flex justify-center items-center gap-12 sm:gap-30 md:gap-35 lg:gap-70 flex-wrap"
  >
    <img
      src="/tools/figma.png"
      alt="Figma"
      class="w-12 h-12 hover:scale-110 transition-transform"
    />
    <img
      src="/tools/adobe-premiere.png"
      alt="Adobe Premiere"
      class="w-12 h-12 hover:scale-110 transition-transform"
    />
    <img
      src="/tools/adobe-photoshop.png"
      alt="Adobe Photoshop"
      class="w-17.5 h-17.5 hover:scale-110 transition-transform"
    />
  </div>
</section>
