---
import "../styles/global.css";
import "@fontsource/inter";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Portfolio of a creative web designer and video editor"
    />
    <title>{title}</title>
  </head>
  <body class="bg-white font-sans">
    <div class="max-w-6xl mx-auto">
      <slot />
    </div>
  </body>
</html>
